services:
  app:
    build:
      context: /home/deva/Documents/Deva/react-express-mysql
    depends_on:
    - mysqldb
    environment:
      DB_HOST: mysqldb
      DB_NAME: test_db
      DB_PASSWORD: '123456'
      DB_PORT: '3306'
      DB_USER: root
      MYSQLDB_DATABASE: test_db
      MYSQLDB_DOCKER_PORT: '3306'
      MYSQLDB_LOCAL_PORT: '3307'
      MYSQLDB_ROOT_PASSWORD: '123456'
      MYSQLDB_USER: root
      NODE_DOCKER_PORT: '8080'
      NODE_LOCAL_PORT: '8080'
    ports:
    - published: 8080
      target: 8080
    restart: unless-stopped
    stdin_open: true
    tty: true
  mysqldb:
    environment:
      DB_HOST: localhost
      MYSQLDB_DATABASE: test_db
      MYSQLDB_DOCKER_PORT: '3306'
      MYSQLDB_LOCAL_PORT: '3307'
      MYSQLDB_ROOT_PASSWORD: '123456'
      MYSQLDB_USER: root
      MYSQL_DATABASE: test_db
      MYSQL_ROOT_PASSWORD: '123456'
      NODE_DOCKER_PORT: '8080'
      NODE_LOCAL_PORT: '8080'
    image: mysql:5.7
    ports:
    - published: 3307
      target: 3306
    restart: unless-stopped
    volumes:
    - db:/var/lib/mysql:rw
version: '3.3'
volumes:
  db: {}

